.row {
  padding: 10px;
  margin-bottom: 12px;
  height: 30vh;
  border-radius: 10px;
  border: 1px solid #525050;
}

.row:hover {
  border: 1px solid lightgray;
  cursor: grab;
  filter: drop-shadow(0px 0px 4px rgb(188, 187, 187));
}

.highcolor {
  width: 35%;
  border: 1px red;
  filter: drop-shadow(0px 0px 4px red);
  margin-left: auto;
  border-radius: 5px;
  padding: 2px;
  color: red;
}
.mediumcolor {
  width: 35%;
  border: 1px yellow;
  filter: drop-shadow(0px 0px 4px yellow);
  margin-left: auto;
  border-radius: 5px;
  padding: 2px;
  color: yellow;
}
.lowcolor {
  width: 35%;
  border: 1px green;
  filter: drop-shadow(0px 0px 4px green);
  margin-left: auto;
  border-radius: 5px;
  padding: 2px;
  color: green;
}

.descdiv {
  border: 1px solid #5e5a5a;
  font-size: 10px;
  text-align: justify;
  padding: 4px;
  text-overflow: ellipsis;
  border-radius: 6px;
}

.row::-webkit-scrollbar {
  width: 8px;
}

.row::-webkit-scrollbar-track {
  background-color: #2a2b2d;
}

.row::-webkit-scrollbar-thumb {
  background-color: #55565a;
  border-radius: 6px;
  border: 3px solid #2a2b2d;
}

.row::-webkit-scrollbar-thumb:hover {
  background-color: #4646ed;
}

.tasknamediv {
  text-align: left;
  margin-top: 6px;
  margin-bottom: 4px;
}
